[submodule "Carrot-Framework-Web"]
	path = Carrot-Framework-Web
	url = https://github.com/kurotsmile/Carrot-Framework-Web.git
[submodule "cr_epub"]
	path = cr_epub
	url = https://github.com/kurotsmile/cr_epub.git
